name: demo_1_workflow
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build_job1:
    runs-on: ubuntu-latest

    steps:
      - name: Run hello
        run: |
          echo "I want to say hello to github action"
          date

      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python 3.9
        uses: actions/setup-python@v3
        with:
          python-version: '3.9'

      - name: Run python script
        run: python main.py

  build_job2:
    runs-on: windows-latest
    steps:
      - name: Run hi
        run: |
          echo "I want to say hi to github action"
          date
